<nav class="nav-menu">
    <MudList T="string" Dense="true">
        <MudListItem T="string" Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudListItem>
        <MudListItem T="string" Href="/organization/units" Icon="@Icons.Material.Filled.Apartment">Organização</MudListItem>
    </MudList>
</nav>
