<nav class="nav-menu">
    <MudList Dense="true">
        <MudListItem Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudListItem>
        <MudListItem Href="/organization/units" Icon="@Icons.Material.Filled.Apartment">Organização</MudListItem>
    </MudList>
</nav>
