<nav class="nav-menu">
    <MudList Dense="true">
        <MudListItem Href="/billing/customers" Icon="@Icons.Material.Filled.People">Customers</MudListItem>
        <MudListItem Href="/billing/subscriptions" Icon="@Icons.Material.Filled.ReceiptLong">Subscriptions</MudListItem>
    </MudList>
</nav>
